#notifications{
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
    display: none;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}