{{> header}}
<div class="container">
    <h1 class="text-center">Register event</h1>
    {{> addEventForm}}
</div>
{{> footer}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsP-OEcnl9pVkA4uhDOh_FS2y7m92K8Us&libraries=places"
        type="text/javascript"></script>