{{> header}}
{{> jumbotronSection}}
<div class="container">
    <div class="row" style="margin-bottom: 10px">
        <a class="btn btn-success" href="#">Add event &nbsp;+</a>
    </div>
    {{> eventList}}
</div>

{{> footer}}