<section class="jumbotron text-center" style="margin-left:100px;margin-right: 100px;margin-top: 20px">
    <div class="container">
        <h1 class="jumbotron-heading">History of your ordered events</h1>
        <div class="btn btn-group">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="admin-filter/vanues">Venues</a>
                    <a class="dropdown-item" href="admin-filter/events">Events</a>
                    <a class="dropdown-item" href="admin-filter/upcoming">Upcoming</a>
                    <a class="dropdown-item" href="admin-filter/finished">Finished</a>
                </div>
            </div>
        </div>
    </div>
</section>