<section class="jumbotron" style="margin: 20px 0">
    <div class="container">
        <h1 class="jumbotron-heading">Admin panel</h1>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Filter
                <span class="caret"></span>
            </button>
            <a class="btn btn-success" href="#/add-event">Add event &nbsp;+</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#/admin-filter/venues">Venues</a>
                <li><a href="#/admin-filter/events">Events</a>
                <li><a href="#/admin-filter/upcoming">Upcoming</a>
                <li><a href="#/admin-filter/finished">Finished</a>
            </ul>
        </div>

    </div>
</section>