<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#">About us</a></li>
            <li><a href="#">Purchase policy</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Our Partners</a></li>
        </ul>
        <p class="text-muted">&copy; 2017 JS Teamwork - All Rights Reserved.</p>
    </div>
</footer>
