<div class="col-lg-4">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <p><a class="btn btn-primary" href="#/event-details/:{{ eventId }}" role="button">View details &raquo;</a></p>
</div>
